server {
    listen      80;
    server_name localhost;

    access_log   /var/log/nginx/lighthouse_access.log  main;

    location / {
      root    {{ document_root }};
      index index.html;
    }

}